
  <div *ngIf=false class="container">
    <div class="row justify-content-center text-center">
      <!-- الشعار -->
      <div class="col-12">
        <img src="../../../angular/assets/roots-game.png" alt="شعار اللعبة" class="logo">
      </div>

      <!-- زر ابدأ -->
      <div  (click)="setflag()" class="col-12 my-3">
        <button pButton type="button" class=" bg-sec-theme px-3">ابدأ</button>
      </div>

      <!-- أزرار التحكم -->
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <button pButton type="button" class="bg-sec-theme p-2 m-2" (click)="showInstructions()">
            <i class="pi pi-question-circle"></i>
          </button>
          <button pButton type="button" class="bg-sec-theme p-2 m-2">
            <i class="pi pi-volume-up"></i>
          </button>
        </div>
      </div>

      <!-- Dialog -->
      <p-dialog header="تعليمات لعبة جذر" [(visible)]="display" modal="modal" [responsive]="true" [style]="{ width: '50vw' }">
        <p> هدف اللعبة: تكوين الجذر الصحيح من الكلمة المشتقة!  </p>
       
        <div class="row"> 
        <div class="col-md-6">
          <p-card header="1"  styleClass="custom-card">
            <p>
              ابدأ اللعب: سترى كلمة مشتقة من جذر مع حروف متناثرة. ولديك خمس بطاقات للإجابة.
            </p>
          </p-card>
        </div>
        <div class="col-md-6" >
          <p-card header="2" styleClass="custom-card"   >
            <p>
              رتب الحروف: استخدم الماوس أو اللمس لترتيب الحروف في دقيقتين.          </p>
          </p-card>
        </div>
      </div>
        <p> 
          استمتع باللعب، واستعد لتحسين مهاراتك اللغوية بطريقة ممتعة ومثيرة!
        </p>

        
      </p-dialog>



    </div>



  </div>


<div *ngIf="true" class="container text-center">
  <div class="">
    <div class="col">
      <div class="d-inline-block px-2 py-1 bg-light text-dark rounded">
        <p>النقاط: {{ points }}</p>
      </div>
    </div>
    <div class="col">
      <div class="d-inline-block px-2 py-1 bg-light text-dark rounded">
        <p>الوقت: {{ time }}</p>
      </div>
    </div>
  </div>

  <div> جذر: {{originalWord}}</div>
  <div class="card flex flex-wrap gap-3">
    <div class="p-2 border-1 surface-border border-round w-15rem">
        <ul class="list-none flex flex-row gap-2 p-0 m-0">
            <li 
                *ngFor="let letter of availableLetters" 
                class="p-2 shadow-1"
                pDraggable 
                (onDragStart)="dragStart(letter)" 
                (onDragEnd)="dragEnd()">
                    {{letter}}
            </li>
        </ul>
    </div>
    <div class="p-2 border-1 surface-border border-round w-15rem" pDroppable (onDrop)="drop()">
        <p class="text-center surface-border border-bottom-1">Drop Zone</p>
        <ul class="list-none flex flex-row gap-2 p-0 m-0" *ngIf="selectedLetters" >
            <li *ngFor="let letter of selectedLetters" class="p-2 border-round shadow-1">
                {{letter}}
            </li>
        </ul>
    </div>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-md-3 text-center">
      <button class="btn btn-primary me-2">
        <i class="pi pi-arrow-left"></i>
      </button>
      <button class="btn btn-primary">
        <i class="pi pi-lightbulb"></i>
      </button>
    </div>
  </div>
</div>

    


