.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: 1px solid #ccc;
    min-height: 100px;
    flex-direction: row; /* اجعل العناصر تتجه أفقيًا */
    flex-wrap: wrap; /* يسمح بتوزيع البطاقات في عدة صفوف */
    padding: 10px;
    gap: 10px; /* المسافة بين العناصر */
  }
  
  .example-card {
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 8px; /* زوايا مستديرة */
    padding: 10px;
    width: 50px; /* عرض البطاقة */
    text-align: center; /* محاذاة النص في المنتصف */
    cursor: move; /* تشير إلى إمكانية السحب */
    transition: transform 0.2s; /* تأثير التحويل عند السحب */
  }
  
  .example-card:active {
    transform: scale(1.05); /* تأثير تكبير البطاقة عند السحب */
  }
  
  