body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  direction: rtl;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}



.container {
  background-color: #fff; /* لون رمادي فاتح */
  padding: 30px; /* مسافة داخلية بين المحتوى والإطار */
  border-radius: 15px; /* زوايا دائرية */
  border: 1px solid #ccc;
  width: 800px; /* عرض ثابت */
  min-height: 700px; /* ارتفاع ثابت */
  flex-direction: column;
  display: flex;
  justify-content: center; /* مركزية عمودية */
  align-items: center; /* مركزية أفقية */
  /*justify-content: space-evenly;*/
  gap: 15px;
  margin-top: 3%;
  font-size: 1.4rem;
  font-weight: bold;
}

.gameHeader{
  column-gap: 70px; 
  font-size: 1.2rem;
}
.cardWidth {
  min-width: 30rem !important;
}

.timer-container {
  width: 98%;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  border: 4px solid #f2f2f3;
}



.progress-bar {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: #4c9085;
  transition: width 1s linear, background-color 0.3s;
}

.timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.warning{
  background-color: #CA3836;
}


/* إعدادات الشاشة الصغيرة */
@media (max-width: 768px) {
  .container {
    width: 100%; /* يأخذ العرض كامل الشاشة */
    height: 100vh; /* الحد الأدنى للارتفاع مناسب للشاشة */
    padding: 15px; /* تقليل المسافة الداخلية */
    gap: 15px; /* تقليل التباعد بين العناصر */
    border: none;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: center; /* توسيط أفقي */
    align-items: center; /* توسيط عمودي */
  }

  .row {
    padding: auto 0%;
    align-items: center;
  }

  .card {
    margin: 0 10px;
    width: 100%;
  }

  .level-button {
    width: 100%; 
  }
  .level-buttons {
    gap: 0px;
  }
}

/* إعدادات الشاشة الأصغر، مثل الهواتف */
@media (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    border: none;
  }
  .row {
    margin: 10px;
    padding: auto 0%;
    align-items: center;
  }

  .col {
    padding: 0;
  }

  .card {
    width: 100%;
    padding: 10px 15%;
  }

  .headerGap{
    column-gap: 20px
  }

  .level-button {
    width: 100%; 
    margin: 0 10px;
  }
}
.drag-element {
  touch-action: none;
}
costum-card {
  background-color: #2e2121;
  margin-bottom: 60px; /* إضافة مسافة بين البطاقات */
}

.highlight {
  background-color: #f8f8f8;
  width: 80px;
}

.requiredMSG {
  color: red;
  text-align: right;
  font-size: 12px;
  margin-top: -22px;
}

/*******************************************/

.text-danger {
  color: red;
}

/*منطقة السحب*/
.list-item {
  font-size: 1.5rem; /* زيادة حجم الخط */
  padding: 10px 15px; /* زيادة المساحة حول النص */
  min-width: 70px; /* تعيين عرض ثابت */
  min-height: 70px; /* تعيين ارتفاع ثابت */
  display: flex; /* لتوسيع العنصر بشكل مركزي */
  justify-content: center; /* محاذاة المحتوى في الوسط أفقياً */
  align-items: center; /* محاذاة المحتوى في الوسط عمودياً */
  background-color: #6fb3af; /* تغيير لون الخلفية */
  color: #fff;
  border-radius: 10px; /* زوايا دائرية */
  border: 4px solid #52a39d; 
}

.card {
  background-color: #f8f8f8;
  margin-bottom: 0%;
}



.back-arrow {
  align-self: self-start;
}

.custom-card{
  min-Height: 250px;
  height: auto;
  border: 2px;
  border-Radius: 15px;
  background-Color: #f8f8f8;
  color: black;
  padding: 10px;
  gap: 50px;
}
.custom-card img{
  width: 200px;
  height: auto ;
  margin-bottom: 20px;
}

.tooltip{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px; /* العرض الأقصى للتولتيب */
}
/******************ANIMATION**********************/
.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*************منطقة الافلات ***********/
.letter-box {
  padding: 10px 15px; /* زيادة المساحة حول النص */
  width: 70px; /* عرض المربع */
  height: 70px; /* ارتفاع المربع */
  display: flex; /* لتوسيع العنصر بشكل مركزي */
  justify-content: center; /* محاذاة المحتوى في الوسط أفقياً */
  align-items: center; /* محاذاة المحتوى في الوسط عمودياً */
  background-color: #ffffff; /* لون الخلفية */
  color: #fff; /* لون النص */
  border-radius: 10px; /* زوايا دائرية */
  border: 3px solid #dbdbdb; /* حدود بيضاء */
  transition: background-color 0.3s; /* تأثير التغيير */
}

.letter-box.filled {
  background-color: #0f2837; /* لون الخلفية عند وجود حرف */
  border: 3px solid #ffffff; /* حدود بيضاء */
  font-size: 1.5rem; /* زيادة حجم الخط */
}

/****************نجوم******************/

.label {
  font-weight: bold;
  color: #0f2837;
}

.value {
  font-size: 1.5rem;
  color: #0f2837;
}

.separator {
  width: 1px;
  height: 5rem;
  background-color: #95a5a6;
}

.buttons-container button {
  background-color: #0f2837 !important;
  color: #ffffff !important;
  width: 3rem;
  height: 3rem;
  border-radius: 15%;
}

.filled-star {
  fill: gold; /* لون النجوم المملوءة */
}

.empty-star {
  fill: lightgray; /* لون النجوم الفارغة */
}


.p-inputtext:enabled:hover {
  border-color: #52a39d;
}
.p-inputtext:enabled {
  border-color: rgba(15, 40, 55, 0.1);  /* 50% شفافية */
}


.level-buttons {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;

}

.level-button {
  margin: 0 10px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #52a39d;
  border-radius: 15px;
  cursor: pointer;
  transition: border 0.3s ease;
  font-size: 1.5rem;
  width: 200px;
  border: #52a39d;
  height: 120px;
}

.level-button:hover {
  background-color: #0f2837;
  color: #52a39d;
}
.level-button.selected {
  background-color: #0f2837;
  color: #52a39d;
}

.start-button {
  padding: 5px;
  color: #fff;
  background-color: #0f2837;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.3s ease;
  font-size: 1.5rem;
  min-width: 100px;
  border: #52a39d;
}


